
%footer.page-foot
  %div.main-content
    %div.container
      %div.page-foot__header
        %a.logo{:href => "/index.html"}
          = image_tag "/images/svg/logo-white.svg", :alt => "Demuxed 2020", :class => ""
        %p.nerds
          Organized with
          %span ❤️
          by video nerds around the world

      %ul.page-foot__nav
        %li
          %h4 About
        %li.nav-item
          = mail_to("info@demuxed.com", "info@demuxed.com")
        %li.nav-item
          = link_to("2020: WTF", "/2020-wtf.html")
          
          
      %ul.page-foot__nav
        %li
          %h4 Legal Stuff
        %li.nav-item
          = link_to("Code of Conduct", "https://demuxed.com/code-of-conduct")
        -# %li.nav-item
        -#   = link_to("Privacy", "/")
          
      %ul.page-foot__nav.page-foot__social      
        %li.twitter
          = link_to("", "https://twitter.com/demuxed", class: "twitter", target: "_blank")
          
        %li.youtube
          = link_to("", "https://www.youtube.com/channel/UCIc_DkRxo9UgUSTvWVNCmpA", class: "youtube", target: "_blank")
          
        %li.facebook
          = link_to("", "https://www.facebook.com/demuxed/", class: "facebook", target: "_blank")
        / %li.instagram
        /   = link_to("", "https://www.instagram.com", class: "instagram", target: "_blank")
